@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
body {
  margin: 0;
  background-color: #e2e8f0;
  font-family: lato;
  color: white;
}
.container {
  display: grid;
  grid-template: 1fr 2fr 2fr / minmax(50px, 300px) 3fr 1fr;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    "sidebar header header" "sidebar projects announcements"
    "sidebar projects trending";
}
.header {
  grid-area: header;
  background-color: #ffffff;
  color: black;
  padding-top: 10px;
  font-weight: bold;
  font-size: 1.4rem;
}
.sidebar {
  grid-area: sidebar;
  background-color: #1992d4;
  padding: 10px 10px;
  font-weight: bold;
}
.your-projects {
  grid-area: projects;
  color: #000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}
.announcements {
  grid-area: announcements;
}
.trending {
  grid-area: trending;
}
svg {
  fill: white;
}
/* dashboard styling  start*/
.dashboardtitle {
  display: flex;
  align-items: center;
  width: 100%;

  font-size: 1.7rem;
}
.dashboardtitle svg {
  height: 50px;
  margin-right: 10px;
}
.dashboardtitle p {
  margin: 0;
}
.sidebaritem {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.sidebaritem svg {
  height: 30px;
  margin-right: 10px;
}
#communities {
  margin-bottom: 50px;
}
/* dashboard styling  end*/
/* header styling  start*/
.header svg {
  height: 30px;
  fill: black;
}
.top-header-content {
  display: flex;
  align-items: center;

  padding: 0 50px;
}
#account-icon {
  height: 50px;
  width: 50px;
  margin-left: 30px;
  margin-right: 20px;
  background-image: url(images/account-icon.png);
  background-size: cover;
}
.bell {
  margin-left: auto;
  margin-right: 10px;
}
.searchbar {
  margin-left: 10px;
  margin-right: 20px;
  width: 700px;
  max-width: 800px;
  height: 40px;
  background-color: #e2e8f0;
  border-radius: 20px;
  flex: 1;
}
.bottom-header-content {
  padding-top: 20px;
  display: flex;
  align-items: center;
}
.hello-header-message {
  display: grid;
  grid-template: 30px 40px / 100px 400px;
  justify-items: start;
  align-items: center;
}
.bottom-header-content #account-icon {
  height: 70px;
  width: 70px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  place-self: center;
}
.header button {
  background-color: #1992d4;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px 40px;
  border: none;
  border-radius: 30px;
  margin-right: 30px;
}
#new-button {
  margin-left: auto;
}
/* header styling end*/
/* projects section styling start*/
.projectdiv {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 6px 13px 22px -14px rgba(66, 68, 90, 1);
  padding: 15px 20% 10px 20px;
  border-left: #f0b429 solid 6px;
  position: relative;
}
.project-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}
.project-controls {
  position: absolute;
  right: 15px;
  bottom: 10px;
}
.project-controls svg {
  fill: black;
  height: 25px;
  margin-right: 10px;
}
/* projects section styling end*/
