:root {
  --main-color: rgb(4, 191, 204);
  --secound-bg: rgb(202, 202, 202);
}

body {
  margin: 0;
}
.container {
  display: grid;
  grid-template: 1fr 2fr 2fr / 1fr 3fr 1fr;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    "sidebar header header" "sidebar projects announcements"
    "sidebar projects trending";
}
.header {
  grid-area: header;
  background-color: #fff;
}
.sidebar {
  grid-area: sidebar;
  background-color: var(--main-color);
}
.your-projects {
  grid-area: projects;
  background-color: var(--secound-bg);
}
.announcements {
  grid-area: announcements;
  background-color: var(--secound-bg);
}
.trending {
  grid-area: trending;
  background-color: var(--secound-bg);
}
